/getMinMax.class
/getMinMax$pair.class
/getKthLargestelement.class
/sumOfTwoArrays.class
/subOftwoArrays.class
/getPeakElement.class
/sortThreeNum.class
/subarrayWithGivenSum.class
/moveAllNegativeNumbers.class